<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Picture Chat</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Picture Chat</a>
        </div>
      </div>
    </div>

    <!-- Begin page content -->
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>


    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
